[Unit]
Description=Tomcat servlet container
After=network.target

[Service]
User={{ item.user|default(tomcat_default_user_name) }}
{% if item.umask is defined %}
UMask={{ item.umask }}
{% endif %}
{% if item.systemd_default_instance is defined %}
DefaultInstance={{ item.systemd_default_instance }}
{% endif %}
LimitNOFILE=65536
Restart=on-failure
Environment=TOMCAT_JAVA_HOME={{ ansible_local.java.general.java_home }}
Environment=CATALINA_HOME={{ tomcat_env_catalina_home }}
{% if item.service_name|default(tomcat_default_service_name) %}
EnvironmentFile=-{{ item.path|default(tomcat_default_instance_path) }}/catalina/%i/.systemd.conf
{% else %}
EnvironmentFile=-{{ item.path|default(tomcat_default_instance_path) }}/catalina/{{ item.name }}/.systemd.conf
{% endif %}

ExecStartPre=/bin/bash -c 'rm -rf /srv/tomcat/catalina/tomcat/webapps/*/ && rm -rf /srv/tomcat/catalina/tomcat/work/'

ExecStart={{ ansible_local.java.general.java_home }}/bin/java \
{% if tomcat_default_debug_setting %}
  -agentlib:jdwp=transport=dt_socket,server=y,address=6006,suspend=n \
{% endif %}
{% if item.service_name|default(tomcat_default_service_name) %}
  -Djava.util.logging.config.file={{ item.path|default(tomcat_default_instance_path) }}/catalina/%i/conf/logging.properties \
{% else %}
  -Djava.util.logging.config.file={{ item.path|default(tomcat_default_instance_path) }}/catalina/{{ item.name }}/conf/logging.properties \
{% endif %}
  -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager \
{% if item.prefer_urandom|default(tomcat_default_prefer_urandom) %}
  -Djava.security.egd=file:/dev/./urandom \
{% endif %}
  -Djava.endorsed.dirs={{ tomcat_env_catalina_home }}/endorsed \
  -Dcatalina.home={{ tomcat_env_catalina_home }} \
{% if item.service_name|default(tomcat_default_service_name) %}
  -Dcatalina.base={{ item.path|default(tomcat_default_instance_path) }}/catalina/%i \
{% else %}
  -Dcatalina.base={{ item.path|default(tomcat_default_instance_path) }}/catalina/{{ item.name }} \
{% endif %}
{% if item.service_name|default(tomcat_default_service_name) %}
  -Djava.io.tmpdir={{ item.path|default(tomcat_default_instance_path) }}/catalina/%i/temp \
{% else %}
  -Djava.io.tmpdir={{ item.path|default(tomcat_default_instance_path) }}/catalina/{{ item.name }}/temp \
{% endif %}
{% if item.prefer_ipv4|default(tomcat_default_prefer_ipv4) %}
  -Djava.net.preferIPv4Stack=true \
{% endif %}
  -Djava.protocol.handler.pkgs=org.apache.catalina.webresources \
  -classpath "{{ tomcat_env_catalina_home }}/bin/bootstrap.jar:{{ tomcat_env_catalina_home }}/bin/tomcat-juli.jar" \
  org.apache.catalina.startup.Bootstrap start

ExecStop={{ ansible_local.java.general.java_home }}/bin/java \
{% if item.service_name|default(tomcat_default_service_name) %}
  -Djava.util.logging.config.file={{ item.path|default(tomcat_default_instance_path) }}/catalina/%i/conf/logging.properties \
{% else %}
  -Djava.util.logging.config.file={{ item.path|default(tomcat_default_instance_path) }}/catalina/{{ item.name }}/conf/logging.properties \
{% endif %}
  -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager \
{% if item.prefer_urandom|default(tomcat_default_prefer_urandom) %}
  -Djava.security.egd=file:/dev/./urandom \
{% endif %}
  -Djava.endorsed.dirs={{ tomcat_env_catalina_home }}/endorsed \
  -Dcatalina.home={{ tomcat_env_catalina_home }} \
{% if item.service_name|default(tomcat_default_service_name) %}
  -Dcatalina.base={{ item.path|default(tomcat_default_instance_path) }}/catalina/%i \
{% else %}
  -Dcatalina.base={{ item.path|default(tomcat_default_instance_path) }}/catalina/{{ item.name }} \
{% endif %}
{% if item.service_name|default(tomcat_default_service_name) %}
  -Djava.io.tmpdir={{ item.path|default(tomcat_default_instance_path) }}/catalina/%i/temp \
{% else %}
  -Djava.io.tmpdir={{ item.path|default(tomcat_default_instance_path) }}/catalina/{{ item.name }}/temp \
{% endif %}
{% if item.prefer_ipv4|default(tomcat_default_prefer_ipv4) %}
  -Djava.net.preferIPv4Stack=true \
{% endif %}
  -Djava.protocol.handler.pkgs=org.apache.catalina.webresources \
  -classpath "{{ tomcat_env_catalina_home }}/bin/bootstrap.jar:{{ tomcat_env_catalina_home }}/bin/tomcat-juli.jar" \
  org.apache.catalina.startup.Bootstrap stop

[Install]
WantedBy=multi-user.target
