<?xml version='1.0' encoding='utf-8'?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<Server port="{{ item.port_shutdown|default(tomcat_default_port_shutdown) }}" shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

{% for port in [item.port_connector|default(tomcat_default_port_connector)]|flatten %}
    <Connector port="{{ port }}" protocol="HTTP/1.1"
               connectionTimeout="20000"
{% if port == 8080 %}
               maxConnections="10000"
               maxThreads="200"
{% else %}
{# Dedicated connector for large static file downloads. Each download ties up a thread for the entire download time so more threads and maxConnections = maxThreads #}
               maxConnections="300"
               maxThreads="300"
{% endif %}
               redirectPort="{{ item.port_redirect|default(tomcat_default_port_redirect) }}"
{% if item.override_uri_encoding|default(tomcat_default_override_uri_encoding) not in (None, "") %}
               URIEncoding="{{ item.override_uri_encoding|default(tomcat_default_override_uri_encoding) }}"
{% endif %}
    />
{% endfor %}

   <Connector port="50777" 
           protocol="org.apache.coyote.http11.Http11NioProtocol"
           connectionTimeout="20000"
           maxConnections="10000"
           redirectPort="8443"
{% if viasat_enable_tls is sameas true %}
           SSLEnabled="true" scheme="https" clientAuth="true" SSLVerifyClient="require" 
           keystoreFile="{{ viasat_keystore }}"
           keystorePass="{{ tomcat_ssl_keystore_pass }}"
           keyAlias="1"
           truststoreFile="{{ viasat_truststore }}"
           truststorePass="{{ tomcat_ssl_keystore_pass }}"
{% else %}
           SSLEnabled="false" scheme="http" clientAuth="want" SSLVerifyClient="optional" 
{% endif %}
           secure="true" SSLVerifyDepth="2" sslProtocol="TLS"
    />
{% if tomcat_ssl %}
   <Connector
           protocol="org.apache.coyote.http11.Http11NioProtocol"
           port="8443" maxThreads="200"
           scheme="https" secure="true" SSLEnabled="true"
           keystoreFile="{{ tomcat_ssl_keystore }}" keystorePass="{{ tomcat_ssl_keystore_pass }}"
           clientAuth="false" sslProtocol="TLS"/>
{% endif %}
    <!--
    <Connector port="{{ item.port_redirect|default(tomcat_default_port_redirect) }}" protocol="org.apache.coyote.http11.Http11Protocol"
               maxThreads="150" SSLEnabled="true" scheme="https" secure="true"
               clientAuth="false" sslProtocol="TLS" />
    -->

    <Connector port="{{ item.port_ajp|default(tomcat_default_port_ajp) }}" protocol="AJP/1.3" redirectPort="{{ item.port_redirect|default(tomcat_default_port_redirect) }}" />

    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true" startStopThreads="0">

    <!-- Add context for the root path to go nowhere. Needed for tomcat to handle requests not going directly to
         a servlet. Mostly useful for redirecting traffic to a servlet no longer running in tomcat to the new port. -->
    <Context path="" docBase=""></Context>

	<!-- Add rewrite valve to handle URL rewrites. Rewrite rules go in conf/Catalina/localhost -->
	<Valve className="org.apache.catalina.valves.rewrite.RewriteValve" />

        <!-- Comment out to disable access logs. This logs every single request made to the server so it gets huge fast.
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
        -->
      </Host>

    </Engine>

  </Service>

</Server>
